__pycache__/
/images
data.db
.DS_Store
*.sqlite3
*.pyc
*.pyd
*.log
sticker.tgs
config.ini
src/test.py
aws.sh
KP.pem
ideas.txt
/tmp
DOCS/bot_overview.gif
src/modules/
backups/
logs/
DOCS/
.github/
.git/
.venv/
.idea/
.env
tests/
LICENCE
readme.md
start.cmd
start.sh
