__pycache__/
/images
data.db
.DS_Store
*.sqlite3
*.pyc
*.pyd
*.log
sticker.tgs
config.ini
src/test.py
aws.sh
KP.pem
ideas.txt
/tmp
src/modules/
backups/
logs/
.github/
.git/
.venv/
.idea/
.env
tests/
LICENCE
readme.md
start.cmd
start.sh
log.txt
src/db/users_data.csv
