#==========для бота основные=============
aiogram~=3.20.0.post0
aiohttp~=3.11.18
python-dotenv==1.0.0  # Для работы с .env файлами (опционально)
#python-decouple~=3.8 #Для работы с файлами тоже
psutil~=7.0.0
#decouple~=0.0.7
APScheduler~=3.11.0
config~=0.5.1
#==========для бота на вебхуках==========
uvicorn~=0.34.3
fastapi~=0.115.12
#============для заставки бота===========
